@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

:root {
  --color-gradient: linear-gradient(
    90deg,
    rgba(87, 221, 255, 1) 35%,
    rgba(192, 88, 243, 1) 100%
  );
  /*Light*/
  --color-border-light: #d9d9d9;
  --color-background-light: #fff;

  /*Dark*/
  --color-border_backround-dark: #25273c;
  --color-font-dark: #fafafa;
}
.app--container {
  display: flex;
  flex-direction: column;
}
.header {
  justify-items: start;
  color: #fafafa;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
}
.tumbler {
  justify-items: end;
}
.content {
  padding: 20px 20px;
}
.content_light {
  border-bottom: 1px solid var(--color-border-light);
  background: var(--color-background-light);
}

.content_dark {
  border-bottom: 1px solid var(--color-border-light);
  background: var(--color-border_backround-dark);
  border: 1px solid var(--color-border_backround-dark);
  color: var(--color-font-dark);
}

.cross_icon {
  opacity: 0;
  margin-left: 70px;
}
.content:hover .cross_icon {
  opacity: 0.8;
  transition: 0.3s;
}
input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--color-border-light);
  border-radius: 50px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
input[type="checkbox"]:checked {
  color: #fff;
  border-color: var(--color-border-light);
  background: var(--color-gradient);
}
input[type="checkbox"]:checked::before {
  opacity: 1;
}
input[type="checkbox"]:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

label {
  position: relative;
  cursor: pointer;
  padding: 0 0.25em 0;
  user-select: none;
}
label::before {
  position: absolute;
  content: attr(data-content);
  color: #999;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #777;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.todo--footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
.todo--footer_ligth {
  background: var(--color-background-light);
  border: 1px solid var(--color-border-light);
}
.todo--footer_dark {
  background: var(--color-border_backround-dark);
  color: var(--color-font-dark);
}
.background {
  background-clip: border-box;
  overflow: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_light {
  background: url(../images/bg-desktop-light.jpg), #fafafa;
  background-repeat: repeat-x;
}

.background_dark {
  background: url(../images/bg-desktop-dark.jpg), #161722;
  background-repeat: repeat-x;
}
.input--form {
  display: flex;
}
.input {
  cursor: pointer;
  padding: 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  flex-grow: 1;
  max-width: 100%;
}

.input:focus {
  outline: 1px solid #719ece;
  box-shadow: 0 0 10px #719ece;
}
.input_light {
  border: 1px solid var(--color-border-light);
}

.input_dark {
  background-color: var(--color-border_backround-dark);
  border: 1px solid var(--color-border_backround-dark);
  color: var(--color-font-dark);
}

.grid {
  display: grid;
}
.grid--1x1 {
  grid-template-columns: 1fr;
  justify-content: end;
}
.grid--1x2 {
  grid-template-columns: 10fr 1fr;
  justify-items: start;
  margin-top: 70px;
  padding-bottom: 20px;
}

.grid--1x3 {
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

@media screen and (max-width: 500px) {
}
