.todo-grid {
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  justify-items: start;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  padding: 6.5px;
}

.check_icon {
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    rgba(87, 221, 255, 1) 35%,
    rgba(192, 88, 243, 1) 100%
  );
  padding: 5px;
}
