.todo--container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo--footer {
  margin-right: 20px;
}

.todo--footer_ligth {
}
.background {
  overflow: auto;
  background-clip: border-box;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light_background {
  background: url(../images/bg-desktop-light.jpg), #fafafa;
  background-repeat: repeat-x;
}

.dark_background {
  background: url(../images/bg-desktop-dark.jpg), #161722;
  background-repeat: repeat-x;
}
