.container {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 0 5px 0;
}

.input {
  width: 100%;
  cursor: pointer;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.input:focus {
  outline: 1px solid #719ece;
  box-shadow: 0 0 10px #719ece;
}
.input_light {
  border: 1px solid var(--color-border-light);
}

.input_dark {
  border: 1px solid var(--color-border_backround-dark);
}
